<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>HoneyCheck</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="topbar">
  <div class="brand">
    <div class="logo">HC</div>
    <div>
      <h1>HoneyCheck</h1>
      <p>Select analysis type</p>
    </div>
  </div>
</div>

<div class="container">

  <div class="card">
    <h2>Choose Analysis Method</h2>

    <div class="grid2">

      <!-- RGB -->
      <div class="card">
        <h3>RGB & Physical</h3>
        <p class="muted">Image + density + pH + flow time</p>

        <a href="/ui" class="btn">Go to RGB</a>
      </div>

      <!-- SPECTRAL -->
      <div class="card">
        <h3>Spectral Analysis</h3>
        <p class="muted">128 spectral values</p>

        <a href="/spectral_analyse" class="btn alt">Go to Spectral</a>
      </div>

    </div>
  </div>

</div>

</body>
</html>